html, body {
  margin: 0;
  padding: 0;
  font-family: 'Karla', sans-serif;
}

/* Navbar */

#nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  position: fixed;
  width: 100%;
}

#nav-link {
  display: flex;
  list-style: none;
  margin-right: 40px;
}

#nav-link a {
  padding: 10px 15px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}

#nav-bar img {
  padding: 7px 0;
  width: 80px;
  height: 50px;
  margin-left: 40px;
}

/* Showcase */

#showcase {
  height: 100vh;
  background-image: url("/follow_tutorial/follow_tutorial/FCC Projects/landing_page/images/showcase.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#showcase #form {
  margin-right: 100px;
  text-align: center;
  border: solid grey 1.5px;
  border-radius: 5px;
  box-shadow: 5px 8px 10px #888888;
  padding: 0 40px 50px 40px;
}

#form h1 {
  font-size: 58px;
  font-weight: bold;
}

#form p {
  padding-bottom: 20px;
}

#form .input {
  display: flex;
  justify-content: center;
}

#form [type=email] {
  height: 34px;
  width: 250px;
  border: 1px solid #767676;
  padding: 0.6rem;
  border-radius: 8px 0 0 8px;
  font-size: 12px;
}

#form [type=submit] {
  height: 34px;
  padding: 8px 20px;
  border: 1px solid grey;
  border-radius: 0 8px 8px 0;
  font-size: 12px;
  color: white;
  background: grey;
}

/* Entertainment */

#entertainment {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: lightgrey;
  flex-wrap: wrap;
}

/* Advantages */

#prices {
  height: 50vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.low-price, .mid-price, .high-price {
  width: 350px;
  height: 250px;
  text-align: center;
  border: solid grey 1.5px;
  border-radius: 5px;
  box-shadow: 5px 8px 10px #888888;
}

#prices h1 {
  background-color: lightgray;
  margin-top: 0;
  padding: 12px 0;
}

#prices button {
  padding: 8px 14px;
  border: 1px solid grey;
  border-radius: 8px;
  font-size: 12px;
  color: white;
  background: gray;
}

/* Footer */

footer {
  display: flex;
  justify-content: flex-end;
  padding: 0 20px 20px 0;
  background: lightgrey;
}

footer ul {
  display: flex;
  flex-direction: row;
  list-style: none;
}

footer li {
  margin-right: 20px;
}

footer a {
  text-decoration: none;
  color: black;
}

/* Media Queries */

@media(max-width: 768px){
  #showcase {
    margin-right: 0;
    background: darkgrey;
    border: none;
    box-shadow: none;
  }

  #showcase #form {

  }
}